.calendar {
  width: 100%;
  overflow-y: scroll;
  &__list {
  }
  &__header {
    display: flex;
  }
  &__day-name {
    border: solid 1px $color-dark-s;
    width: 100%;
    text-align: center;
  }

  &__buttons {
    > * {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  &__button {
    background-color: transparent;
    border: none;
    outline: none;
    color: $color-light-l;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: $color-light-s;
    }
  }
}

.week {
  display: flex;
}
.day {
  width: 100%;
  height: 130px;
  overflow: hidden;
  border: solid 1px $color-dark-s;
  &__header {
    text-align: right;
    padding: 0 10px;
    cursor: pointer;
    background-color:  $color-light-l;
    &:hover{
      background-color:  $color-light-s;
    }
  }
  &__tasks{
  }
  &__task{
    margin: 6px 0;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
    &:hover{
      background-color: green;
    }
  }
}
