.day-list__header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.day-list__group{
  margin-left: 50px;
}
.day-list__day-name {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
