.month-toggle {
  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.month-toggle__button {
  font-size: 2.5rem;
  font-weight: 700;
  color: $color-toggle-text;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover{
  }
}