.segment__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px;
}
.segment__header-title {
  width: calc(100% - 370px);
  text-align: center;
}
.filter-messages-form {
  width: 370px;
}
.filter-messages-form__worning-feedback {
  text-align: center;
}
.filter-messages-form__worning-feedback,
.filter-messages-form__error-feedback {
  height: 26px;
  margin-bottom: 5px;
  color: $color-error-form;
}
.filter-messages-form__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  > * {
    margin-right: 15px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.filter-messages-form__group {
  width: 100%;
}
.filter-messages-form__input {
  border: none;
  border-bottom: solid 2px $color-border-input-form;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.6rem;
  outline: none;
}
.filter-messages-form__button {
  width: 100%;
}
