.segment{

}
.segment__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
.segment__header-title{

}

.filter{

}
.filter__input{

}
.filter__button{

}
.segment__group{
  margin: 0 30px;
}
.segment__date{
   margin: 20px 0;
}