.to-do-list {
  padding: 0 40px 30px;
  background-color: rgba($color-light-xl, 0.95);
  display: flex;
  flex-direction: column;
  &_decor {
    border-top: solid 1px $color-dark-s;
    border-bottom: solid 1px $color-dark-s;
    &-bot{
      border-bottom: solid 1px $color-dark-s;
    }
  }
}
.to-do-list__header {
  width: 100%;
  padding: 32px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-do-list__wrapper {
  overflow: scroll;
  flex-grow: 3;
}
.to-do-list__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 5px;

  @extend %transition;
  &_colored{
    background-color:  $color-light-l;
  }
}

.to-do-list__item-title {
  cursor:pointer;
  margin-right: 20px;
  font-size: 1.8rem;
   &:hover{
    color: $color-dark-s;
  }
}
.to-do-list__item-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 20px;
  font-size: 1.4rem;
  width: 100%;
}
.to-do-list__item-buttons {
  display: flex;
  justify-content: flex-end;
  >*{
    margin-right: 15px;
    &:last-child{
      margin-right: 5px;
    }
  }
}
.to-do-list__button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-size: contain;
  &:hover{
    box-shadow: 0 0 5px rgba($color-dark-xl, 0.6);
  }
  &_add{
    background-image: url(../../assets/images/icons/icon-add.png);
  }
  &_remove{
    background-image: url(../../assets/images/icons/icon-remove.png);
  }
  &_update{
    background-image: url(../../assets/images/icons/icon-update.png);
  }
  &_current{
    background-image: url(../../assets/images/icons/icon-current-date.png);
  }
}
