.user{
  border: solid 1px $color-light-l;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  &__email{
   width: 100%;
   font-size: 1.6rem;
   line-height: 1.6rem;
   white-space: nowrap;
   overflow: hidden; 
   text-overflow: ellipsis;
  }
}