.add-update-message-card {
  background-color: $background-sign-form;
  padding: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include media-tablet {
    padding: 5px;
    width: 350px;
  }
  @include media-mobile {
    width: 250px;
  }
}
.add-update-message-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-update-message-card__date {

}
.add-update-message-card__author {
  font-weight: 700; 
}
.add-update-message-card__input {
  margin: 30px 0;
  border: none;
  border-bottom: solid 2px $background-login-page;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.6rem;
  outline: none;
}
.add-update-message-card__textarea {
  // border: none;
  border: solid 2px $background-login-page;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.6rem;
  outline: none;
  resize: none;
  height: 200px;
  padding: 5px 10px;
  margin-bottom: 30px;
  @include media-tablet {
    height: 100px;
  }

}
.add-update-message-card__buttons {
}
.add-update-message-card__button {
}
