.day-list__header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.day-list__group{
  margin-left: 50px;
  @include media-tablet {
    margin-left: 0px;
  }
}
.day-list__day-name {
  padding: 20px 0;
  font-size: 2.5rem;
}
