.side-bar {
  @extend %transition;
  // overflow: hidden;
  background-color: $background-sideBar;
  width: $mobile-small-width;
  height: 100%;
  overflow: scroll;
  &_visible {
    margin-left: -$mobile-small-width;
  }
  @include media-tablet {
    position: absolute;
    width: 100%;
    &_visible {
      width: 0%;
    }
  }
}

.side-bar__email {
  display: none;
  padding: 10px 0;
  text-align: center;
  color: $color-header-text;
  @include media-tablet {
    display: block;
  }
}