.user-update {
  padding-top: 20px;
  padding-left: 50px;

  @include media-tablet {
    padding-left: 0px;
  }
}

.user-update__group {
  width: min-content;
  max-width: 370px;
}

.user-update-role__email {
  margin-bottom: 10px;
}

.user-update-role__buttons {
  display: flex;
  >* {
    width: 100%;
    &:first-child {
      margin-right: 5px;
    }
  }
}