* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  color: $color-dark-xl;
  font-family: "Rubik", sans-serif;
}
body {
  background-image: url(../../assets/images/background/to-do-background.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
  }
}

li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
textarea{
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 1.6rem;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}