.button {
  // @extend %font-prim;
  @extend %transition;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  background-color: $background-button;
  border: none;
  outline: none;
  color: $color-button-text;
  cursor: pointer;
  &:hover{
    background-color: $background-button-hover;
    color: $color-button-text-hover;
  }
}