.app{
  height: 100vh;
  overflow: hidden;
  padding-top: calc((100vh - 400px) / 2);
  @include media-mobile{
    overflow: scroll;
  }
}
.app__wrapper {
  width: 100%;
  // margin-top: calc((100vh - 400px) / 2);
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  @include media-mobile{
    
  }
}
.app__to-do-list {
  height: 100%;
  width: 65%;
  @include  media-tablet{
    width: 55%;
  }
  @include media-mobile{
    width: 100%;
  }
}
.app__calendar {
  @include  media-tablet{
    width: 45%;
  }
  @include media-mobile{
    width: 100%;
  }
}

