.calendar {
  width: 100%;

  &__header {
    display: flex;
    > * {
      width: 100%;
    }
  }
  &__week {
    display: flex;
  }
}
.week {
  display: flex;

}

.aside{
  width: 200px;
  background-color: violet;
}
.main{
  display: flex;
}
.widget-week{
  display: flex;
  >*{
    flex: 100%;
    text-align: center;
  }
}