$content-big-width: 1440px;
$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 370px;


// button
$background-button-prim: #077f7b;
$color-button-text-prim: #ffffff;
$background-button-prim-hover: #169895;
$color-button-text-prim-hover: #eaeaea;

$background-button-add: #ffffff;
$color-button-text-add: #3e4255;
$background-button-add-hover: #eaeaea;
$color-button-text-add-hover: #3e4255;

$background-button-selected: #169895;
// ====================================================
// landing
$background-landing-page: #077f7b;
$color-landing-page: #ffffff;
// ====================================================
// login
$background-login-page: #077f7b;
$background-sign-form: #ffffff;
$color-link-form: #077f7b;
$color-link-form-hover: #169895;
$color-error-form: #e05050;
$color-border-input-form: #077f7b;
// ===================================================
// header
$background-header: #077f7b;
$color-header-text: #ffffff;
// ==================================================
// sideBar
$background-sideBar: #077f7b;
// =================================================
// widgetMonth
$background-widget-day-current: #ffffff;
$background-widget-day-selected: #dc8383bd;
$color-widget-month-text: #ffffff;
$color-widget-day-shadowed: #979797ba;
// ==================================================
// month
$color-month-cell-header-text: #ffffff;
$background-month-cell-header: #077f7b;
$background-month-cell-header-other: #dc8383bd;
$background-month-cell-header-hover: #169895;
// ================================================
// card
$background-card-marker-user: yellowgreen;
$background-card-marker-admin: grey;
$background-card-marker-viewer: hotpink;
// =====================================================
// modal
$background-modal: #5e616f;
$background-modal-wrapper: #ffffff;
$background-modal-close-button: #5e616f;
// ==============================================
// loading


$color-border-user-item: #ffffff;
$color-light-l: #eaeaea;
$color-hamburger: #ffffff;
$color-toggle-text: #ffffff;
