$color-light-s:#c5c5c5;
$color-light-l: #eaeaea;
$color-light-xl: #ffffff;

$color-bg-button: #eaeaea;
$color-bg-button-hover: #c5c5c5;
$color-text-button: #3e4255;

$color-dark-s: #8f8f8f;
$color-dark-l:#5e616f;
$color-dark-xl:#3e4255;


// $color-hover: #a08383;
// $color-current: #c84949;
// $color-selected: #b58282;