.header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dark-xl;
  color: $color-light-l;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  >*{
    margin-right: 40px;
  }
}
