.button {
  // @extend %font-prim;
  @extend %transition;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  @include media-laptop {
    padding: 10px 15px;
  }
  @include media-tablet {
    padding: 8px 5px;
  }
  &__prim {
    background-color: $background-button-prim;
    color: $color-button-text-prim;
    &:hover {
      background-color: $background-button-prim-hover;
      color: $color-button-text-prim-hover;
    }
  }
  &__add {
    background-color: $background-button-add;
    color: $color-button-text-add;
    &:hover {
      background-color: $background-button-add-hover;
      color: $color-button-text-add-hover;
    }
  }
  &_selected{
    background-color: $background-button-selected;
    pointer-events: none;
  }
}
