%hamburger-line {
  content: '';
  position: absolute;
  display: inline-block;
  background-color: $color-hamburger;
  border-radius: 5px;
  height: 3px;
  width: 100%;
  @include media-tablet {
    border-radius: 4px;
    height: 2px;
  }
}

.hamburger {
  position: relative;
  width: 26px;
  height: 20px;
  cursor: pointer;
  @include media-tablet {
    width: 20px;
    height: 16px;
  }

  &::before {
    @extend %hamburger-line;
    top: 0;
    left: 0;
  }

  &::after {
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
  }
}

.hamburger__line {
  @extend %hamburger-line;
  top: calc(50% - 1px);
  left: 0;
}